@import url(//fonts.googleapis.com/css?family=Google+Sans:400,500,600,700);
@import url(//fonts.googleapis.com/css?family=Roboto+Mono:400,500);
* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
  --focus-color: #8ab4f8;
}
@font-face {
  font-family: 'BoingRegular';
  src: url('/assets/fonts/boing/Boing_RegularWEB.eot');
  src: url('/assets/fonts/boing/Boing_RegularWEB.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/boing/Boing_RegularWEB.woff2') format('woff2'),
    url('/assets/fonts/boing/Boing_RegularWEB.woff') format('woff'),
    url('/assets/fonts/boing/Boing_RegularWEB.svg') format('svg');
}

@font-face {
  font-family: 'BoingSemiBold';
  src: url('/assets/fonts/boing/Boing_SemiboldWEB.eot');
  src: url('/assets/fonts/boing/Boing_SemiboldWEB.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/boing/Boing_SemiboldWEB.woff2') format('woff2'),
    url('/assets/fonts/boing/Boing_SemiboldWEB.woff') format('woff'),
    url('/assets/fonts/boing/Boing_SemiboldWEB.svg') format('svg');
}

body {
  font-family: 'Google Sans', Helvetica, Arial, sans-serif;
  background-color: #e8eaed;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;

  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-smooth: always;
}

p {
  font-size: 14px;
}

/* #app-container {
    padding-top: 80px;
} */

#example-select {
  position: relative;
}

.customselect {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

.customselect select {
  width: 190px;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 0;
  font-size: 18px;
  margin: 0;
  outline: 0;
  border: 0;
  color: #000;
  font-weight: 500;
  background-color: #fff;
}

.customselect .select-arrow {
  position: absolute;
  top: 7px;
  right: 0;
  pointer-events: none;
  z-index: 10000;
}

#example-container {
  width: 100%;
  height: 100%;
}

/*
 * Unsupported Fallback Styles
 * 
 * The check is independent of the codebase,
 * therefore the styles must be added as css.
 */
.unsupported-msg {
  display: none;
  max-width: 880px;
  width: 90%;
  padding: 0 5%;
  margin: 173px auto 0;
}

a,
a:link,
a:visited {
  color: #000;
}

.unsupported-msg .mobile-msg {
  display: none;
}

.unsupported-msg h2 {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 1em;
}

.unsupported-msg p {
  margin-bottom: 2em;
}

@media only screen and (max-width: 840px) {
  .unsupported-msg .mobile-msg {
    display: inline;
  }
}

html[unsupported] #route-container,
html[unsupported] #block-holder {
  display: none;
}
